<div class="header">

  <div class="container">

    <div class="logo">
      <h1><a routerLinkActive='active' [routerLink]="['/homepage']"><b>T<br>H<br>E</b>CapStore<span>Market on your
            Hands!</span></a></h1><br><br><br>
      
          <!-- <span><h5>An E-commerce application where you can shop and buy anything. Market is on your hands.
        </h5></span><br><br> -->
    </div>
    <!-- <div class="head-t">
            <ul class="card">
                <li><a routerLinkActive='active' [routerLink]="['/aboutus']"><i class="fa fa-info"
                            aria-hidden="true"></i>About Us</a></li>
                <li><a routerLinkActive='active' [routerLink]="['/deals']"><i class="fa fa-tags"
                            aria-hidden="true"></i>Deals & Offer</a></li>
                <li><a routerLinkActive='active' [routerLink]="['/profile']"><i class="fa fa-user"
                            aria-hidden="true"></i>Profile</a></li>
                <li><a routerLinkActive='active' [routerLink]="['/logout']"><i class="fa fa-sign-out"
                            aria-hidden="true"></i>Logout</a></li>
            </ul>
        </div> -->





    <div class="row" style="margin-left: 15%">
      <div class="col-md-5 col1">
        <a routerLinkActive='active' [routerLink]="['/customerSignup']"><img
            src="../../assets/ecomm/images/customersignup.png" class="img-responsive fit-image"
            style="margin-left: 25%"></a><br>
        <label class="display-4" style="margin-left: -5%; font-size: 25px;">Customer SignUp</label>
      </div>
      <div class="col-md-5">
        <a routerLinkActive='active' [routerLink]="['/customerlogin']"><img
            src="../../assets/ecomm/images/customer-removebg-preview.png" class="img-responsive fit-image"
            style="margin-left: 25%"></a><br>
        <label class="display-4" style="margin-left: -5%; font-size: 25px;">Customer Login</label>
      </div>

    </div>
    <br>
    <br>
    <div class="row" style="margin-left: 15%">
      <div class="col-md-5">
        <a routerLinkActive='active' [routerLink]="['/merchantSignup']"><img
            src="../../assets/ecomm/images//merchantsignin-removebg-preview.png" class="img-responsive fit-image"
            style="margin-left: 25%"></a><br>
        <label class="display-4" style="margin-left: -5%; font-size: 25px;">Merchant SignUp</label>
      </div>
      <div class="col-md-5">
        <a routerLinkActive='active' [routerLink]="['/merchantlogin']"><img src="../../assets/ecomm/images/merchant.png"
            class="img-responsive fit-image" style="margin-left: 25%"></a><br>
        <label class="display-4"style="margin-left: -5%; font-size: 25px;">Merchant Login</label>
      </div>