<h1  style="text-align: center">Returning Goods</h1>
<div mat-dialog-content>
    <img style="align-content: center" src="https://s7d9.scene7.com/is/image/Spencers/guest_services/CustomerServiceIcons-03-FA8E0E.svg" height="150px" width="150px">
</div>
<h2 mat-dialog-title style="text-align: center">  Are You Sure??
    </h2>

<div id="wrapper">
      
        <button class="btn btn-success"  (click) = "returnProduct()"  type="button">Yes</button>&nbsp;
        <button class="btn btn-success"   type="button">No</button>
      </div>

 